.sMConfigOption > span:not(.material-symbols-outlined, .toolTip) {
  font-size: 1rem;
  top: 2px;
  position: relative;
}

nav#sMConfigBar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.4rem;
  padding: 0.2rem;
  align-items: center;
  background: var(--hotbarColor);
  width: max-content;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: max-content;
  z-index: 1;
}

:root[data-theme="dark"] .sMConfigOption:not(.selected) {
  background: rgba(var(--baseColor), 0.1);
}

.sMConfigOption {
  background: rgba(var(--baseColor), 0.25);
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  position: relative; /* for tooltips / mini menus */
  font-family: "Overpass";
  color: var(--textColor);
  line-height: 0;
}

.sMConfigOption.selected {
  background: var(--selectedColor);
  transition: 0s;
}

.sMModal {
  max-width: 80vh;
  background: var(--hotbarColor);
  display: none;
  min-width: 45vh;
  width: max-content;
  height: max-content;
}

.sMModalContent {
  padding: 1rem;
  max-height: 80vh;
  overflow-x: auto;
}

.modals {
  width: max-content;
  inset: 1.5rem;
  position: fixed;
  height: max-content;
  max-height: 87.5%;
}

#export {
  background-color: rgba(255, 0, 0, 0.25);
}

#export.hover {
  background-color: rgba(255, 0, 0, 0.5);
}

span.toolTip {
  position: fixed;
  transform: translateX(-50%) translateY(10px);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 13px;
  opacity: 1;
  transition: 0.25s ease-in-out transform, 0.25s ease-in-out opacity;
  z-index: 3;
  font-family: "Inter";
  width: max-content;
  max-width: 200px;
}

label > .toolTip {
  font-family: "Inter";
}

.modals label {
  position: relative;
}

label span.toolTip,
.listNavOptions button .toolTip {
  width: 8rem;
  text-align: right;
  left: 4rem;
  height: max-content;
  top: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
}

@keyframes appear {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.sMConfigOption:not(.selected):hover {
  background: var(--hoverColor);
}

#panelSelect {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 10rem;
  position: absolute;
  background-color: var(--hotbarColor);
  top: -10.5rem;
  left: 0;
  padding: 0.25rem;
  z-index: 2;
}

#panelOptions,
#numPanelOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#panelOptions {
  gap: 0.1rem;
}

#panelNumber {
  background-color: rgb(var(--baseColor));
  text-align: center;
  padding: 0.1rem;
  border-radius: 0;
  width: 3rem;
}

.hitbox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.listNav > .scrollMenu {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 10rem;
  white-space: nowrap;
  overflow-x: auto;
  gap: 4px;
  margin-left: -8px;
}

/* Minimalistic scrollbar for WebKit browsers */
.scrollMenu::-webkit-scrollbar {
  height: 6px; /* Adjust thickness as needed */
}

.scrollMenu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Adjust color and opacity */
  border-radius: 3px; /* Make it rectangular with slightly rounded corners */
}

.scrollMenu::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track invisible or a subtle color */
}

/* Minimalistic scrollbar for Firefox */
/* Note: Firefox styling options are more limited */
.scrollMenu {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* thumb track */
}

.sMModalContent > div:not(#sMSPSettings),
#sMSPSettings > div {
  width: max-content;
  flex-grow: 1;
  height: 100%;
}

legend {
  font-family: "Overpass" !important;
  text-align: center;
  width: max-content !important;
  padding: 0 0.5rem;
  font-size: 16px;
}

nav.sMModalBar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: max-content;
  background-color: rgba(var(--baseColor), 0.5);
}

:root[data-theme="dark"] nav.sMModalBar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: max-content;
  background-color: rgb(50,75,255,1);
}

nav.sMModalBar *:not(.material-symbols-outlined, select, button, input) {
  font-family: "Overpass";
  font-size: 16px;
  font-weight: 600;
}

nav.sMModalSubBar {
  padding: 0.2rem;
}

:root[data-theme="dark"] div.sMModalTitle {
  background-color: rgb(50,50,200,1);
}

div.sMModalTitle {
  background-color: rgba(var(--baseColor), .75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.75rem;
  gap: 0.25rem;
  margin-right: 0.5rem;
}
div.sMModalTab {
  padding: 0rem 0.5rem;
  font-size: 15px;
  cursor: pointer;
}

div.sMModalTab.selected {
  text-decoration: underline;
}

div.sMModalTitle *,
div.sMModalTitle {
  font-size: 16px;
}

.tabHidden {
  display: none !important;
}

div#sMPanelPadding,
div#sMExitTabSetting,
div#sMSPSettings,
div#sMAPL,
div#sMExitTabStyles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 1rem;
}

input[type="number"] {
  border: 0;
  margin: 0.25rem;
}

.listNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.listNavOptions {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
}

.listNavOptions button,
.listNavOptions label {
  width: max-content;
  position: relative;
}

#exitTabNumber,
#subPanelNumber {
  width: 3rem;
}

.listNav .scrollMenu {
  flex-grow: 1;
  flex-direction: row;
  justify-content: left;
  width: 10rem;
}

.resetClass {
  background-color: rgb(255, 0, 0, 20%);
  padding: 0.3rem;
}

.resetClass:hover {
  background-color: rgb(255, 0, 0, 30%);
}

div#modalHolder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

::backdrop {
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
}

dialog {
  border: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#welcomeToSignMaker {
  width: 70%;
}

#welcomeToSignMaker img {
  width: 100%;
}

div.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid black;
}

#downloadContent .options {
  position: absolute;
  width: 100%;
  bottom: 0;
}

div.options button {
  padding: 0.5rem;
  font-size: 1.25rem;
}

div.options a {
  color: black;
}

#fileTypeOptions button {
  flex-grow: 1;
}

.SMSPNewElementHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(var(--baseColor), 0.4);
}

.SMSPNewElementHolder > span {
  font-size: 0.7rem;
}

/* OLD - TO CONFIGURE */

.active,
.exitTabSelect.active {
  background-color: rgb(200, 200, 200);
}

input,
select,
textarea {
  width: 6rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  transition: 0.15s ease-in-out;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  width: 7.5rem;
  text-align: right;
  display: inline-block;
}

label.noLabelAlignment {
  width: max-content;
}

label:hover {
  font-weight: 600;
}

select {
  background: rgb(240, 240, 240) url(../img/other-symbols/select.svg) no-repeat
    right;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 17px;

  cursor: pointer;
}

select:hover,
select:focus {
  background-color: rgb(var(--baseColor));
  font-weight: 700;
}


input, select {
  background-color: rgb(var(--inputColor));
  color: var(--textColor);
}

button,
input[type="button"] {
  display: flex;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  border: 0;
  width: max-content;
  background-color: rgb(var(--inputColor));
  font-family: "Inter";
  font-weight: 500;
  color: var(--textColor);
}

button:not(.textEditorBlock, .sMControlRow .sMConfigOption):enabled:hover,
input[type="button"]:not(
    .textEditorblock,
    .sMControlRow,
    .sMConfigOption
  ):enabled:hover {
  background-color: var(--selectedColor);
}

button:disabled,
input[type="button"]:disabled {
  cursor: default;
}

.sMControlRow:hover {
  cursor: pointer;
}

textarea {
  min-width: 15rem;
  min-height: 5rem;
  max-width: 25rem;
  transition: none;
}

#shieldBacksLabel {
  width: auto;
}

.shields div {
  border-radius: 0.25rem;

  width: -moz-max-content;
  width: -webkit-max-content;
  width: intrinsic;
}
.shields div:nth-child(odd) {
  background-color: rgba(var(--baseColor), 0.33);
}

.shields div:nth-child(even) {
  background-color: rgba(var(--baseColor), 0.11);
}

.shields label,
.shields select:first-of-type {
  width: auto;
}
.shields label {
  margin: 0;
}

.clear:hover {
  background-color: rgb(247, 176, 176) !important;
}

#controlCitiesLabel {
  position: relative;
  top: -5rem;
}

#guideArrowLanes {
  width: 2.25rem;
}

#actionMessage,
#g_actionMessage {
  width: 15.75rem;
}

#guideArrowLanes {
  width: 3rem;
}

#oSNum {
  margin-left: 8.5rem;
}

#currentPanel {
  width: auto;
  background: linear-gradient(
    to bottom,
    rgba(var(--baseColor), 0.2),
    rgba(var(--baseColor), 0.4)
  );
  border-radius: 0rem 0rem 1rem 2rem;
  padding: 0.4rem;
  display: table;
}

#panelNumber {
  background-color: rgb(var(--baseColor));
  text-align: center;
  padding: 0.1rem;
  border-radius: 0;
  width: 3rem;
}

#panelNumberTitle {
  font-size: 1.3rem;
  padding: 0.2rem;
}

#downloadContent {
  background-color: rgb(226 236 255);
  padding: 1rem;
  width: 90%;
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  height: 50%;
}

#downloadContents {
  width: 50%;
  position: relative;
}

#fileTypeOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid black;
}

#fileTypeOptions button {
  padding: 0.75rem;
}

#downloadPreview {
  width: 49%;
  display: inline-block;
  background-color: rgb(144, 181, 255);
  overflow: auto;
  text-align: center;
}

#PNG,
#SVG {
  width: 15%;
}

#singularPanel {
  display: none;
}

.activated {
  background-color: rgb(200, 200, 200);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.controlTextArea {
  font-size: 0.8rem;
  font-family: "Clearview 4W";
}

.radioOption {
  width: auto;
}

.exitTabSelect {
  background: rgb(230, 230, 230);
  width: auto;
  border-radius: 0rem;
}

.exitTabSelect:hover {
  background: rgb(200, 200, 200);
}

nav#sMConfigBar.invisible {
  left: 1rem;
  transform: none;
}

nav#SMConfigBar.invisible > .sMConfigOption:not(#hideConfig) {
  display: none;
}

#smSPTextEditor,
#smSPShieldEditor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--baseColor), 0.2);
  padding: 1rem;
  gap: 1rem;
}

#sMSPCreate,
#smSPElement,
#smSPShieldHeader,
#smSPShieldList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem;
  background-color: rgb(var(--baseColor), 0.3);
  width: 100%;
}

#smSPElement,
#smSPShieldList {
  gap: 1rem;
}

#sMSPCreate > span,
#sMSPElement > span,
#smSPShieldHeader > span,
#smSPShieldList > span {
  font-size: 16px;
}

#sMSPTextList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgb(var(--baseColor), 0.15);
  padding: 0.5rem;
  width: 100%;
}

.smControlRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(var(--baseColor), 0.15);
  padding: 0.25rem;
  width: 100%;
  height: m;
}

:root[data-theme="dark"] .smControlRow.selected {
  background-color: rgb(var(--baseColor), 0.25);
}

.smControlRow.selected {
  background-color: rgb(var(--baseColor), 0.5);
}

.smControlRow * {
  font-size: 16px;
  padding: 4px 8px;
}
.smcontrolrow *.selected {
  text-decoration: underline;
}

.sdCtrlText {
  background-color: var(--green);
  color: white;
}

.sdBlocker {
  background-color: white;
}

.sdShield {
  background-color: var(--blue);
  color: white;
}

.sdAdvisory {
  background-color: var(--yellow);
  border-radius: 8px;
}

.sdIcon {
  background-color: var(--brown);
  color: white;
}

.sdActionMessage {
  background-color: var(--green);
  color: white;
}

#smSPProperties,
#smSPBlockProperties,
#smSPShieldProperties {
  background-color: rgb(var(--baseColor), 0.225);
  padding: 0.5rem;
  width: 100%;
}

.sdTextEditorWide {
  width: 70%;
}

.sdTextEditorSmall {
  width: 3rem;
}

.hidden {
  display: none;
}

.smSPShieldVisual {
  height: 30px;
  width: auto;
}

.smSPShieldLargeVisual {
  height: 90px;
  width: auto;
}

.smSPShieldRow,
.smSPShieldGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(var(--baseColor), 0.5);
  cursor: pointer;
}

.smSPShieldRow:hover,
.smSPShieldGroup:hover {
  background-color: rgb(200, 200, 200, 0.5);
}

.smSPShieldRow.selected {
  background-color: rgb(var(--baseColor), 1);
}

.smSPShieldGroupHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
}

.newBlock {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  font-weight: bold;
  height: 1.5rem;
  border: 3px dashed black;
}

.smSPShieldBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-grow: 1;
  padding: 0.25rem;
}

.dragIndicator {
  height: stretch;
  aspect-ratio: 1 / 1;
  display: none;
  background: none;
}

.dragIndicator:hover {
  background-color: rgb(0, 0, 0, 0.2) !important;
}

.smSPShieldRow.selected .dragIndicator,
.smSPShieldGroup.selected > .dragIndicator {
  display: block;
}

#smSPShieldList {
  flex-direction: column;
}

#smSPShieldImgConfig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(var(--baseColor), 0.25);
  padding: 1rem;
}

#smSPShieldImgConfig > div {
  background-color: rgb(var(--baseColor), 0.125);
  height: stretch;
}

#smSPShieldImgConfig > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

#smSPShieldImgConfig > div:nth-child(2) {
  padding: 0.5rem;
}

#changeImgBtn,
#smSPShieldAdvanced {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

#advancedMenu {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: rgb(var(--baseColor), 0.2);
}

#shieldImgSelector {
  background: none;
  padding: 0;
  flex-direction: row;
  width: 50%;
  height: 80%;
}

#shieldImgSelector > div {
  padding: 1rem;
}

#shieldImgSelector > div {
  background: canvas;
}

.shieldLibrary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shieldLibrary > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#shieldImgSelectorClose {
  font-size: 20px;
  padding: 0.125rem 1rem;
  background-color: rgb(255, 0, 0, 0.2);
}

#shieldImgSelectorClose:hover {
  background-color: rgb(255, 0, 0, 0.6);
}

.shieldLibrary > nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.shieldLibrary > nav button {
  font-size: 24px;
  padding: 0.5rem 2rem;
}

.shieldLibrary > nav button.selected {
  background-color: rgb(0, 0, 255, 0.7);
  color: white;
}

.shieldLibrary[data-tab="presetShieldList"] #uploadShield {
  display: none;
}

.shieldLibrary[data-tab="uploadShield"] #presetShieldList,
.shieldLibrary[data-tab="uploadShield"] #presetShieldSearch {
  display: none;
}

.shieldLibrary > nav button.selected:hover {
  background-color: rgb(0, 0, 255, 1) !important;
}

.shieldLibrary > nav button:not(.selected):hover {
  background-color: rgb(0, 0, 255, 0.125) !important;
}

#presetShieldList {
  overflow: auto;
  flex-grow: 1;
}

.shieldItemImg {
  height: 70px;
  background: rgb(0, 0, 255, 0.8);
  padding: 0.25rem;
}

.shieldCategoryType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.shieldCategoryType.selected,
.customShieldItem.selected {
  background-color: rgb(0, 0, 255, 0.1);
}

.shieldCategoryType.selected .shieldItemName {
  font-weight: 600;
}

.shieldCategoryHead {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(0, 0, 255, 0.5);
  padding: 0.5rem;
  color: white;
  margin-left: -1rem;
  cursor: pointer;
}

.shieldCategory {
  padding-left: 1rem;
}

.shieldCategoryHead:hover {
  background-color: rgb(0, 0, 255, 0.75);
}

.shieldItemName {
  font-size: 24px;
  text-align: center;
}

.shieldCategoryType:not(.selected):nth-child(odd),
.customShieldItem:not(.selected):nth-child(odd) {
  background-color: rgb(0, 0, 0, 0.075);
}

.shieldCategoryType:not(.selected):nth-child(even),
.customShieldItem:not(.selected):nth-child(even) {
  background-color: rgb(0, 0, 0, 0.025);
}

.shieldCategoryType:hover,
.customShieldItem:hover {
  background-color: rgb(0, 0, 255, 0.2) !important;
}

#presetShieldSearch {
  width: 100%;
  border: 1px solid black;
  padding: 0.75rem;
  margin: 0;
  font-size: 20px;
}

.shieldPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectedShieldPreview {
  height: 164px;
  background-color: var(--shieldBackColor, rgb(0, 0, 255, 0.8));
  border-radius: var(--shieldBackRadius);
}

.selectedShieldName {
  font-size: 24px;
  font-weight: 600;
}

.shieldPreview > footer {
  margin-top: auto;
}

#setShield {
  font-size: 24px;
  padding: 0.25rem 2rem;
}

#uploadShield {
  flex-grow: 1;
  overflow: auto;
}

#shieldUploadField {
  background-color: rgb(0, 0, 0, 0.1);
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

#shieldUploadField > span.material-symbols-outlined {
  font-size: 64px;
}

#shieldUploadField {
  cursor: pointer;
}

#shieldUploadField:hover {
  background-color: rgb(0, 0, 0, 0.2);
  border-color: #666;
}

#shieldUploadField.dragover {
  background-color: rgba(76, 175, 80, 0.1);
  border-color: #4caf50;
}

.shieldUploadDisclaimer {
  font-size: 12px;
  padding: 0.25rem;
  color: rgb(100, 100, 100);
}

#linkUpload {
  width: 15rem;
  border: 1px solid black;
}

#savedCustomShieldsList {
  display: flex;
  flex-direction: column;
}

.customShieldItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}

.deleteCustomShieldBtn {
  background: none;
}

#uploadShield h3 {
  margin-bottom: 0.5rem;
}

dialog {
  display: none;
}

.shieldCategory:not(.open) .shieldCategoryType,
.shieldCategory:not(.open) > .shieldCategory {
  display: none;
}

#selectedBackRoudness {
  background-color: rgb(0, 0, 0, 0.05);
}
