form {
	background-color: rgba(255, 255, 255, 0.125);

		width: -moz-max-content;
		width: -webkit-max-content;
	width: 100vh;
	margin: 1rem auto 0;
	padding: 0.5rem;
	text-align: justify;
    border-radius: 1rem;
}

form nav {
    width: 100%;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 0.5rem;
}

form nav .scrollmenu {
    line-style-type: none;
    width: 60%;
    overflow: auto;
    white-space: nowrap;
    float: left;
}

form nav label {
    display: initial;
    padding-left: 1rem;
}

form nav input[type=button] {
    display: inline-block;
    border-radius: 0rem;
    transition: 0s;
    width: auto;
    border-radius: .25rem;
}

form nav input[type=number] {
    width: 7%;
}

.active,
.exitTabSelect.active {
    background-color: rgb(200,200,200);
}

not(.active) {
    background-color: rgb(230,230,230);
}

label, input[type=button] {
	font-family: "Highway Gothic";
	font-size: 1rem;
	text-shadow: 0px 0px 20px rgba(40,40,40,0.5);
	font-weight: 200;
}

select {
	font-family: "Highway Gothic Wide";
	font-size: 1rem;
}

input[type=number], input[type=text], textarea {
	font-family: "Clearview 4W";
	letter-spacing: -0.05rem;
}

.section {
	font-family: "Clearview 4W";
	text-shadow: 0px 0px 5px rgba(40,40,40,0.3);
	letter-spacing: -0.1rem;
	font-weight: 500;
}




select, input, textarea, label, legend {
	width: 7.5rem;
	margin: 0.25rem;
}

select, input, textarea {
	background-color: rgb(230, 230, 230);
	border: none;
	border-radius: 0.25rem;

	padding: 0.25rem;
}

select {
	background: rgb(230, 230, 230) url(../img/select.svg) no-repeat right ;
		-moz-appearance: none;
		-webkit-appearance: none;
	appearance: none;

	padding-right: 17px;
}

input[type=button] {
		-moz-appearance: none;
		-webkit-appearance: none;
	appearance: none;

	cursor: pointer;
	transition: background-color 0.1s;
}
input[type=button]:hover {
	background-color: rgb(200,200,200);
}
input[type=checkbox] {
	width: auto;
}
textarea {
	min-width: 15.5rem;
}

label {
	text-align: right;
	display: inline-block;
}

.shiftButton {
	width: 1.5rem;
    height: auto;
    background-color: rgb(255,255,255);
    transition: background-color 0.25s;
}

.shiftButton:hover {
    background-color: rgb(225,225,225);
}

#shieldBacksLabel {
	width: auto;
}

fieldset {
	border: none;
	margin: 0.5rem 0;
}

.shields div {
	border-radius: 0.25rem;

		width: -moz-max-content;
		width: -webkit-max-content;
	width: intrinsic;
}
.shields div:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.33);
}

.shields div:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.11);
}



.shields label, .shields select:first-of-type {
	width: auto;
}
.shields label {
	margin: 0;
}

.clear:hover {
	background-color: rgb(247, 176, 176) !important;
}

#controlCitiesLabel {
	position: relative;
	top: -5rem;
}

#guideArrowLanes {
	width: 2.25rem;
}

#actionMessage, #g_actionMessage {
	width: 15.75rem;
}

#guideArrowLanes {
	width: 3rem;
}

#oSNum {
	margin-left: 8.5rem;
}

input[value="New Shield"], input[value="New Sign"] {
	margin-bottom: 0.75rem;
}
input[value=Delete]:hover {
	background-color: rgb(255, 200, 200);
}

.new, , .dup , .del {
    float: left;
    width: 5%;
}

#currentPanel {
    width: auto;
    background: linear-gradient(to bottom, rgba(255,255,255, 0.2), rgba(255,255,255,0.4));
    border-radius: 0rem 0rem .5rem .5rem;
    padding: 0.4rem;
	display: table;
}

#panelNumber {
    background-color: rgb(255,255,255);
    border-radius: 8px;
    padding: 0.1rem;
    width: 40%;
}

#panelNumberTitle {
    font-size: 1.3rem;
    padding: 0.2rem;
}

hr {
    border: 2px solid rgba(255,255,255,0.4);
	border-radius: 1rem;
}

#downloadModal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 10rem; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
	padding-left: 15%;
    
}

#downloadContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	display: inline-block;
}

#downloadContents {
	width: 50%;
	display: inline-block;
}

#downloadPreview {
	width: 49%;
	display: inline-block;
	background-color:rgb(144,181,255);
	overflow: auto;
	text-align: center;
}

#PNG , #SVG {
	width: 15%;
}

#singularPanel {
	display: none;
}

.activated {
    background-color: rgb(200,200,200);
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.subPanelHolder {
    background-color: rgba(255,255,255,0.6);
    border-radius: 0.45rem;
    padding: 0.1rem;
    width: 100%;
    height: auto;
    overflow: auto;
    white-space: nowrap;
    float: left;
}

.controlTextArea {
    font-size: 0.8rem;
    font-family: "Clearview 4W";
}

.actionMessage {
    width: auto;
    font-family: "Clearview 4W";
}

.arrow {
	height: 1.8rem;
	margin-top: 0.2rem;
}

#subPanelSettings {
	background: linear-gradient(180deg, rgba(255,255,255, 0.2), rgba(255,255,255, 0.5));
    border-radius: 0.5rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: 0.4rem;
    border-top: 3px solid rgb(255,255,255);
}

#exitTabSettings {
	background: linear-gradient(0deg, rgba(255,255,255, 0.2), rgba(255,255,255, 0.5));
    border-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: 0.4rem;
    border-bottom: 3px solid rgb(255,255,255);
}

#panelPositionDiv {
	display: table-cell;
	width: 26%;
	vertical-align: middle;
}

#panelPadding {
	display: table-cell;
}

#paddingTop {
	display: inline-block;
    outline: none;
    -webkit-appearance: none;
    transform: rotate(270deg);
    height: 100px;
    width: 100px;
	position: relative;
    top: -5px;
	background: none;
}

#paddingBottom {
	display: inline-block;
    outline: none;
    -webkit-appearance: none;
    transform: rotate(90deg);
    height: 100px;
    width: 100px;
	margin-top: -20px;
	background: none;
}

#paddingLeft {
	display: inline-block;
    outline: none;
    -webkit-appearance: none;
    transform: rotate(180deg);
    height: 75px;
    width: 100px;
	position: relative;
    top: -15px;
	background: none;
}

#paddingRight {
	display: inline-block;
    outline: none;
    -webkit-appearance: none;
    transform: rotate(0deg);
    height: 75px;
    width: 100px;
	position: relative;
    top: -15px;
	background: none;
}



#panelExample {
	background-color: rgba(255,255,255,0.9);
    display: inline-block;
    width: 150px;
    height: 75px;
	position: relative;
    top: -15px;
	vertical-align: 0;
}

.paddingConfig::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 75px;
  background: rgba(0,95,77,0.3);
  cursor: pointer;
  border-radius:2rem;
}

.horizontalPaddingConfig::webkit-slider-thumb {
	-webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 125px;
    background: rgba(0,95,77,0.3);
    cursor: pointer;
    border-radius:2rem;
}



.paddingConfig::-moz-range-thumb {
  width: 25px;
  height: 75px;
  background: #04AA6D;
  cursor: pointer;
  border-radius:2rem;
}

#currentlyEditing {
	position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
}

#editStep {
    display: inline;
    background-color: rgba(255,255,255,.4);
    border-radius: .75rem;
    padding: .1rem;
}

#stepLabel {
    width: auto;
    position: relative;
    top: -0.05rem;
    left: 0.2rem;
}

#stepVal {
	width: auto;
    padding-bottom: 0;
    background-color: rgba(255,255,255,0.4);
    padding-top: 0.3rem;
}

#EnableGlobal {
    width: 100%;
    height: 200px;
    margin: 0.1rem;
    font-size: 2rem;
}

#deleteGlobal:hover {
	background-color: rgba(247,170,170,1);
}

#heading {
	display: inline-block;
    float: left;
    widtH: 30%;
    position: relative;
    top: 1rem;
    left: 1rem;
}

#paddingSection {
	display: inline-block;
}

.radioOption {
	width: auto;
}

#extraSettings {
    border-radius: 1rem;
    background: rgba(255,255,255,0.3);
	padding: 1rem;
	margin-bottom: .25rem;
}

.exitTabSelect {
    background: rgb(230,230,230);
    width: auto;
    border-radius: 0rem;
}

.exitTabSelect:hover {
	background: rgb(200,200,200);
}

.invisible {
	display: none;
}

#exitTabMain {
	margin-bottom: .1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: middle;
}


#guideArrowSettings {
	background-color: rgba(255,255,255,0.1);
	border-radius: 0.3rem;
	box-shadow: .1rem .1rem .5rem rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.15);
}

#guideArrowMode {
	display:flex;
	flex-direction: column;
	align-items: center;
	background: rgba(255,255,255,0.1);
	padding: .5rem;
}

#guideArrowOptions input[type=button] {
	border-radius: 0;
	width: max-content;
}

#guideArrowOptions input[type=button]:hover {
	background-color: rgb(225,225,225);
}

#guideArrowOptions input[type=button].active {
	background-color: rgb(200,200,200);
}

div#standardArrows, div#aplArrows {
	padding:  .25rem;
}

#aplArrows {
	display: none;
	flex-direction: column;
	align-items: center;
	gap: .5rem;
}

#aplConfig {
	background: rgba(255,255,255,0.1);
	width: max-content;
	padding: .5rem;
	border-radius: .2rem;
	box-shadow: .1rem .1rem .5rem rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.15);
}

.subPanelArrows {
	background: rgba(255,255,255,0.1);
	padding: .25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 13rem;
	height: 7rem;
}

.subPanelArrows h3 {
	margin: 0;
}

.subPanelButtons {
	width: max-content;
	padding: 0.1rem 1rem 0.1rem 1rem;
}

.subPanelListArrows {
	overflow-x: auto;
	width: 95%;
	height: 3rem;
	background: rgba(255,255,255,0.1);
	border-radius: .1rem;
}